.explore-soon {

    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/mini\ background\ 2.png');
    padding: 40px 20px;
}

.explore-card {
    background: #ffffff;
    padding: 60px 50px;
    border-radius: 20px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.explore-logo {
    max-width: 300px;
    margin-bottom: 30px;
}

.explore-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.explore-card h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #1c3d4f;
}

.explore-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.magazine-cover {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.download-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #0a66c2;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.download-btn:hover {
    background: #084c96;
}